@media screen and (max-width: 480px) {
    header {
        width: 96%;
        height: 20%;
    }
    .flex{
        display: block;
        width: 96%;
        height: 80%;
    }
    .box-b{
        width: 100%;
        height: 60%;
    }
    .box-c{
        width: 100%;
        height: 20%;
    }
}